.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 0 10px;
}

.logo {
  font-size: 50px;
  font-weight: 100;
  line-height: 50px;
  height: 50px;
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  padding: 0;
  justify-content: center;
  list-style-type: none;
}

.nav__item:first-child {
  margin-right: 25px;
}

.nav__link {
  display: block;
  box-sizing: border-box;
  padding: 0 20px;
  text-decoration: none;
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
}

.nav__link:visited {
  color: black;
}

.nav__link:hover {
  background: lightgray;
}

.nav__link.active {
  color: white;
  background: black;
}